* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.menu-principal {
  background-color: #A1674A;
  height: 100px;
  border-bottom: 2px solid black;
}

.logo{
  padding: 16px;
}

h1{
  text-align: center;
  color: white;
  margin-right: 16px;
  margin-top: 14px;
}

nav a{
  background-color: #ffffff;
  margin-right: 16px;
  text-align: center;
  color: black;
  font-weight: bold ;
  
}

nav {
  text-align: center;
}

img{
  border: 2px solid black;
}
